body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Margins */
.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Main carousel */
#main-carousel {
    position: relative;
}
.carousel {
    margin-top: -20px;
}
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#search-form-container {
    position: absolute;
    top: 40%;
    left: 30%;
    background: rgba(255, 255, 255, 0.9) ;
    width: 40%;
    padding: 20px 40px;
    z-index: 20;
}

.search-toggle {
    font-weight: bold;
}

.search-toggle ul li {
    border-left: 1px solid #CCC;
    padding-left: 10px;
}

.search-toggle ul li:first-child {
    border-left: none;
    padding-left: 5px;
}

.search-toggle ul li a {
    color: #333;
}

.search-items {
    text-align: center;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }


}
/*Home screen search bar*/
#searchForm {
	
}

/* Asset Index Page */
.single-asset-container {
    border: 1px solid #CCC;
}

.asset-summary-container {
    padding: 6px 16px 16px 16px;
}

/* Asset Creation Page */
#IsForRent {
    /*display: none;*/
}