@model LatiumMarketplace.Models.MessageViewModels.MessageThreadDTO
@{
    ViewData["Title"] = "Create";
}
<div class="spaceUnderLogo">

    <h2>Send Message</h2>
    <form asp-action="SendMessageToUser">
        @*@{ var recieverId = (string)ViewData["SenderId"];
            model.RecieverId = recieverId; }*@
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Body" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Body" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to Admin Panel</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
