@model LatiumMarketplace.Models.ApplicationUser

@{
    ViewData["Title"] = "User banned";
}
<div class="spaceUnderLogo">

    <h2>@Model.Email has been unbanned.</h2>
    <a asp-action="Index">Back to Admin Panel</a>

</div>