@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model LatiumMarketplace.Models.ManageViewModels.ProfileViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>User Profile</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="firstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
