@model LatiumMarketplace.Models.ApplicationUser

@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.firstName</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr/>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
