@using Microsoft.AspNetCore.Identity
@using LatiumMarketplace.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <button class="btn btn-link navbar-btn navbar-link" type="button" data-toggle="dropdown">
                        Hello @UserManager.GetUserName(User)!
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">My Profile</a></li>
                        <li><a asp-area="" asp-controller="Assets" asp-action="MyListings" title="Assets">My MyListings</a></li>
                        <li><a href="#">My Bids</a></li>
                        <li><a asp-controller="MessageThreads" asp-action="Index">My Messages</a></li>
                        <li><a a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Log Off</a></li>
                    </ul>
                </div>                
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
