@model LatiumMarketplace.Models.AssetViewModels.Asset
@{
    ViewData["Title"] = "Create";
}


<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <h4>Asset Information</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- TODO: Need to replace this with actual data-->
    
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio" name="assetCreateOptions" id="for-sale" value="IsForSale"> For Sale
        </label>
        <label class="radio-inline">
            <input type="radio" name="assetCreateOptions" id="for-rent" value="IsForRent"> For Rent
        </label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="name" class=""></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger" />
            </div>
            <!-- TODO: Need to show only parent categories, the children after parent is selected -->
            <div class="form-group">
                <label asp-for="AssetCategories" class="">Category</label>
                @Html.DropDownList(
                    "AssetCategories",
                    (SelectList)ViewBag.AssetCategories,
                    "--- Select a category ---",
                    new { @class = "form-control" }
                    )
                <span asp-validation-for="AssetCategories" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="location" class=""></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="description" class=""></label>
                <textarea asp-for="description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="accessory" class=""></label>
                <textarea asp-for="accessory" rows="3" class="form-control"></textarea>
                <span asp-validation-for="accessory" class="text-danger" />
            </div>
            <div id="IsForSale" class="asset-rates">
                <div class="form-group">
                    <label asp-for="price" class=""></label>
                    <input asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger" />
                </div>
            </div>
            <div id="IsForRent" class="asset-rates">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="priceDaily" class=""></label>
                        <input asp-for="priceDaily" class="form-control" />
                        <span asp-validation-for="priceDaily" class="text-danger" />
                    </div>
                    <div class="col-md-4">
                        <label asp-for="priceWeekly" class=""></label>
                        <input asp-for="priceWeekly" class="form-control" />
                        <span asp-validation-for="priceWeekly" class="text-danger" />
                    </div>
                    <div class="col-md-4">
                        <label asp-for="priceMonthly" class=""></label>
                        <input asp-for="priceMonthly" class="form-control" />
                        <span asp-validation-for="priceMonthly" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="">Upload your images</label>
                <input type="file" name="AssetImages" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
