@model LatiumMarketplace.Models.AssetViewModels.Asset

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="CreateReq">
    <div class="form-horizontal">
        <h4>Asset</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Make" class="">Make</label>
            @Html.DropDownList(
                    "Makes",
                    (SelectList)ViewBag.Makes,
                    "--- Select a make ---",
                    new { @class = "form-control" }
                    )
            <span asp-validation-for="Make" class="text-danger" />
        </div>
        <!-- TODO: Need to show only parent categories, then the children after parent is selected -->
        <div class="form-group">
            <label asp-for="AssetCategories" class="">Category</label>
            @Html.DropDownList(
                    "AssetCategories",
                    (SelectList)ViewBag.AssetCategories,
                    "--- Select a category ---",
                    new { @class = "form-control" }
                    )
            <span asp-validation-for="AssetCategories" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Address" class=""></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="City" class="">City</label>
            @Html.DropDownList(
                    "Cities",
                    (SelectList)ViewBag.Cities,
                    "--- Select a city ---",
                    new { @class = "form-control" }
                    )
            <span asp-validation-for="City" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="accessory" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="accessory" class="form-control" />
                <span asp-validation-for="accessory" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}