@model LatiumMarketplace.Models.AssetViewModels.Asset

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Asset</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="assetID" />
        <div class="form-group">
            <label asp-for="addDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="addDate" class="form-control" />
                <span asp-validation-for="addDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ownerID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ownerID" class="form-control" />
                <span asp-validation-for="ownerID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="accessory" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="accessory" class="form-control" />
                <span asp-validation-for="accessory" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="priceDaily" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="priceDaily" class="form-control" />
                <span asp-validation-for="priceDaily" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="priceWeekly" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="priceWeekly" class="form-control" />
                <span asp-validation-for="priceWeekly" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="priceMonthly" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="priceMonthly" class="form-control" />
                <span asp-validation-for="priceMonthly" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
