@{
    ViewData["Title"] = "Banned Account";
}
<h2>Banned Account</h2>
<h3>Sorry to inform you, but it seems your account has been banned.</h3>
<p>Please feel free to refer to our contact section and reach out to find out why your account has been banned.</p>
<div>
    <a asp-controller="Home" asp-action="Contact">Contact Information</a> |
    <a asp-controller="Home" asp-action="Index"> Back to Home</a>
</div>

