@model string
@{
    ViewData["Title"] = "Verify your email";
}
<h2>Thank you, @Model, almost done!</h2>
<h3>A confirmation email is awaiting in your inbox.</h3>
<p>Please complete your registration by clicking on the link in the confirmation email we sent you.</p>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

