@model UnitedBidViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Bids";
}


<head>
    <link href="~/css/bids.css" rel="stylesheet" />
</head>

<h2>My Bids - OUTBOX -  The bids you've made</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Asset Name
            </th>
            <th>
                Bid Price
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.outbox)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.asset_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bidPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="Bids" asp-action="#">View Bids placed on your asset</a>
</p>



