@{
    ViewData["Title"] = "About";
}

<div class="spaceUnderLogo">

    <h2 id="AboutTitle">@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information.</p>
</div>